#main-div{
    background-color: black;
    width: 440px;
    height: 500px;
    margin-left: 419px;
    border-radius: 20px;
}
#label{
    border-radius: 0px;
    margin-left: 70px;
    width: 300px;
    height: 31px;
    margin-top: 36px;
    pointer-events: none;
}.btn{
    width: 78px;
    height: 48px;
}
.row{
    margin-left: 61px;
margin-top: 20px;
}
.clrbton{
    width: 78px;
    height: 48px;
    margin-left: 61px;
    margin-top: 20px;
}
